.panel-five {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f4ede1;
  padding-left: 12vw;
}

.panel-five .panel-frame {
  width: 100%;
  height: 60vh;
  max-width: 65vw;
  margin: 25px;
}

.panel-five .panel-body {
  display: flex;
}

.panel-five .panel-content {
  width: 100%;
  position: relative;
  perspective: 1600px;
  perspective-origin: 50% 42%;
}

.panel-five-text {
  width: 0;
  opacity: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight:bold;
  color:black;
}
